/* explorer.html */

/* Configurações Gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    color: #404040;
}

section {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

    & h2 {
        font-size: 35px;
        color: #44A6A6;
    }
}

.bold {
    font-weight: 700;
}

.flex {
    display: flex;
}

h3 {
    font-size: 20px;
    color: #0cb5ed;
}


/* Cabeçalho e Barra de Pesquisa */

header {
    padding-left: 25px;
    gap: 890px;
    align-items: center;
    border-bottom: 2px solid #ccc;

    position: sticky;

    & .logo img {
        width: 200px;
    }

    & p {
        font-size: 20px;

        & a {
            text-decoration: none;
            color: #F24B6A;
        }
    }
}

.form {
    display: flex;
    align-items: center;
    background-color: #C9EBF2;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}

.form-input {
    border: none;
    padding: 10px;
    flex-grow: 1;
    border-radius: 20px;
    font-size: 16px;
    background-color: #C9EBF2;
    outline: none;
}

.btn {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/* Filtros de Pesquisa */

.container {
    flex-flow: column;
}

.search-filters .filter-dropdown {
    display: flex;
    flex-direction: column; /* Colocar itens verticalmente */
    align-items: center; /* Centralizar itens horizontalmente */
    gap: 10px; /* Espaço entre os elementos */
    margin-top: 20px; /* Ajustar margem superior */
    font-weight: 600;
}

.search-filters {
    width: 100%;
}

.search-filters .filter-dropdown select {
    padding: 10px; /* Aumentar o padding para mais espaço dentro do dropdown */
    border-radius: 10px;
    border: none;

}

.search-filters .filter-dropdown select:focus {
    outline: none;
    border: none;
}


/* Layout da seção principal que contém filtros e cards */
.filters-and-shows {
    display: flex;
    justify-content: space-between;
    gap: 30px; /* Espaçamento entre filtros e cards */
    flex-wrap: nowrap; /* Impede quebra de linha dos elementos */
}

.filtered-shows .col {
    flex: 1 0 31%; /* 3 cards por linha */
    margin-bottom: 20px;
    margin-right: 2%;
}

.filter-dropdown {
    width: 100%; /* O dropdown ocupará 100% da largura do seu contêiner */
    padding: 10px; /* Adiciona um espaçamento interno adequado */
    margin-top: 10px; /* Espaçamento entre o título e o dropdown */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
}

.card img {
    width: 100%;
    height: auto; /* Assegura que a imagem mantenha a proporção */
}

/* Contêiner dos filtros */
.search-filters {
    background-color: #44A6A6;
    padding: 20px;
    width: 300px;
    height: auto; /* Alterado para ajustar dinamicamente a altura */
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px #C9EBF2;
    text-align: center;
}

.search-filters h3 {
    color: #fff;
    margin-bottom: 20px; /* Adicionado espaçamento abaixo do título */
}

/* Cards ajustados para ocupar o restante do espaço */
.filtered-shows {
    flex: 1; /* Faz com que os cards ocupem o restante do espaço disponível */
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Agora os cards ocupam 100% da largura disponível */
}